.clip {
    display: none;
  }

.drum-pad {
  margin: 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #6C6c6c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.drum-pad:hover {background-color: #4C4c4c}

.drum-pad:active {
  background-color: rgb(187, 179, 71);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}