.center{
    padding: 10px;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.7);;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px ;
}
@media screen and (max-width: 780px) {
    .center {
        width: 70vw;
    }
  }
  @media screen and (max-width: 680px) {
    .center {
        width: 80vw;
    }
  }